* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-one {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 40em;
  height: 35em;
  background-color: lightblue;
}

.main-box {
  background-color: green;
  border: 2px solid black;
}

.standard-flexbox {
  display: flex;

}