* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.koffe {
  width: 20vw;
  height: 18vh;
  background-color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
